html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  margin: 0;
  body {
    font-family: Helvetica, 'Segoe UI', Roboto, Arial;
    margin: 0;
  }
}

h2.title {
  padding-top: 15px;
  font-size: 16px;
  margin: 0;
}

h3.title {
  padding: 15px 0px;
  font-size: 14px;
  margin: 0;
}

input[type=number] {

  .is-mobile & {
    display: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type=range]{
  display: none;

  .is-mobile & {
    display: initial;
  }

  -webkit-appearance: none;

  &::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #197979;
    margin-top: -14px;
  }

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: #ccc;
    }
  }
}

a {
  color: #197979;
  text-decoration: none;
  font-weight: bold;
}
