.intro {
  padding: 10px;

  p {
    font-size: 14px;
    margin: 5px 0px;
  }

  &.is-collapsed {
    > * {
      display: none;
    }

    p:first-child {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      width: 100%;
    }
    &:after {
      content: '+';
      display: block;
      font-weight: bold;
      color: #197979;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: '-';
    display: block;
    font-weight: bold;
    color: #197979;
  }
}
