.loading-screen {
  background: white;

  @include display-flex();
  @include align-items(center);

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5000;

  .loading-message {
    flex: 1;
    text-align: center;

    .spinner {
      text-align: center;
      margin: auto;
      width: 50px;
    }

    .text {
      font-size: 20px;
    }
    .progress {
      font-size: 14px;
    }
  }
}
