$color-white:         #fff;
$color-grey-light:    #ccc;
$color-black:         #000;
$color-transparent:   rgba(0, 0, 0, .7);
$color-invisible:     rgba(0, 0, 0, 0);

$color-button:        #18c3bb;
$color-button-dark:   #0e7974;
$color-favourite:     #ff4f4f;
$color-pinned:        #ffdf48;

$color-type-normal:   #8a8a59;
$color-type-fighting: #c03028;
$color-type-flying:   #a890f0;
$color-type-poison:   #a040a0;
$color-type-ground:   #e0c068;
$color-type-rock:     #b8a038;
$color-type-bug:      #a8b820;
$color-type-ghost:    #705898;
$color-type-steel:    #b8b8d0;
$color-type-fire:     #f08030;
$color-type-water:    #6890f0;
$color-type-grass:    #78c850;
$color-type-electric: #f8d030;
$color-type-psychic:  #f85888;
$color-type-ice:      #98d8d8;
$color-type-dragon:   #7038f8;
$color-type-dark:     #705848;
$color-type-fairy:    #e898e8;

$font-default: Helvetica, 'Segoe UI', Roboto, Arial;
