.page {
  &.overlay {
    .overlay__data {
      .overlay__container {
        position: relative;
        margin-top: 56px;
        padding-top: 24px;

        .icon-pin {
          position: absolute;
          top: -50px;
          left: calc(50% - 40px);
          width: 80px;
          height: 80px;
          margin: auto;
          background: url('/images/icon-pin.png');
          background-size: cover;
        }

        .icon-favourite {
          position: absolute;
          top: -50px;
          left: calc(50% - 40px);
          width: 80px;
          height: 80px;
          margin: auto;
          background: url('/images/icon-heart.png');
          background-size: cover;
        }

        header {
          padding-bottom: 10px;

          p {
            padding: 0 5px;
          }
        }

        .pokemon {
          opacity: .4;

          &.is-favourite {
            opacity: 1;
          }

          &.is-pinned {
            opacity: 1;
          }
        }
      }
    }
  }
}
