@import 'styles/constants';
@import 'styles/mixins';
@import 'styles/animations';

@import 'styles/default';

@import 'styles/states/is-behind';
@import 'styles/states/is-blur';
@import 'styles/states/is-hidden';

@import 'styles/rotating-element';
@import 'styles/floating-button';
@import 'styles/menu';
@import 'styles/button';
@import 'styles/loading-screen';
@import 'styles/intro';
@import 'styles/language-selector';
@import 'styles/level-selector';
@import 'styles/pokedex';
@import 'styles/picture';
@import 'styles/app-title';
@import 'styles/pinned-section';
@import 'styles/title';
@import 'styles/modal';
@import 'styles/type';
@import 'styles/footer';
@import 'styles/page-favourite';
@import 'styles/page-pinned-section';
@import 'styles/overlay';

.page-favourite,
.page-pinned-section {
  &.overlay {
    .overlay__data {
      .overlay__container {
        position: relative;
        margin-top: 56px;
        padding-top: 24px;

        .icon-pin {
          position: absolute;
          top: -50px;
          left: calc(50% - 40px);
          width: 80px;
          height: 80px;
          margin: auto;
          background: url('/images/icon-pin.png');
          background-size: cover;
        }

        .icon-favourite {
          position: absolute;
          top: -50px;
          left: calc(50% - 40px);
          width: 80px;
          height: 80px;
          margin: auto;
          background: url('/images/icon-heart.png');
          background-size: cover;
        }

        header {
          padding-bottom: 10px;

          p {
            padding: 0 5px;
          }
        }

        .pokemon {
          opacity: .4;

          &.is-favourite {
            opacity: 1;
          }

          &.is-pinned {
            opacity: 1;
          }
        }
      }
    }
  }
}
