@import 'styles/mixins';
@import 'styles/animations';

@import 'styles/default';

@import 'styles/rotating-element';
@import 'styles/floating-button';
@import 'styles/menu';
@import 'styles/button';
@import 'styles/loading-screen';
@import 'styles/intro';
@import 'styles/language-selector';
@import 'styles/level-selector';
@import 'styles/pokedex';
@import 'styles/picture';
@import 'styles/app-title';
@import 'styles/pinned-section';
@import 'styles/title';
@import 'styles/modal';
@import 'styles/type';

h2.title {
  padding-top: 15px;
  font-size: 16px;
  margin: 0;
}

h3.title {
  padding: 15px 0px;
  font-size: 14px;
  margin: 0;
}

.is-blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.is-hidden {
  transition: opacity 200ms;

  opacity: 0;
}

.is-behind {
  position: fixed;
  width: 100%;
}

.page-favourite,
.page-pinned-section {
  &.overlay {
    .overlay__data {
      .overlay__container {
        position: relative;
        margin-top: 56px;
        padding-top: 24px;

        .icon-pin {
          background: url(/images/icon-pin.png);
          background-size: cover;
          position: absolute;
          top: -50px;
          left: calc(50% - 40px);
          margin: auto;
          width: 80px;
          height: 80px;
        }

        .icon-favourite {
          background: url(/images/icon-heart.png);
          background-size: cover;
          position: absolute;
          top: -50px;
          left: calc(50% - 40px);
          margin: auto;
          width: 80px;
          height: 80px;
        }

        header {
          padding-bottom: 10px;

          p {
            padding: 0px 5px;
          }
        }

        .pokemon {
          opacity: .4;
          &.is-favourite {
            opacity: 1;
          }
          &.is-pinned {
            opacity: 1;
          }
        }
      }
    }
  }
}

.page-favourite {
  .hint {
    background: #ff4f4f;
    color: #fff;
  }
}
.page-pinned-section {
  .hint {
    background: #ffdf48;
    color: black;
  }
}


.overlay {
  transition: opacity 200ms;

  position: absolute;
  top: 0;

  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &.overlay--modal {
    position: fixed;
    z-index: 5000;

    .overlay__data {
      margin-bottom: 0;
    }
  }

  .overlay__background {
    background: black;
    opacity: 0.8;
    position: fixed;

    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .overlay__data {
    position: relative;
    z-index: 100;

    flex: 1;
    align-self: center;
    text-align: center;

    margin-bottom: 100px;

    // Same as counters. TODO refactor
    .overlay__container {
      background: white;
      border: 2px solid black;
      border-radius: 5px 5px 0px 0px;
      box-sizing: border-box;

      font-size: 14px;

      margin: auto;
      width: 96%;

      .hint {
        padding: 5px;
        font-size: 10px;

        p {
          margin: 0;
        }
      }
    }

    .pokemon-name {
      color: white;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 15px;
      margin: 0 0 5px 0;
    }

    .main-pokemon {
      position: relative;
      top: -50px;

      margin: auto;
      width: 96%;

      .stats {
        @include display-flex();
        @include align-items(flex-end);

        position: relative;
        top: 60px;

        padding: 0px 15px;

        > * {
          display: inline-block;
        }

        .cp, .types {
          position: relative;
          top: 10px;
        }

        .cp {
          @include flex(1);
          text-align: center;

          .cp__value {

            &.cp__value-text {
              display: none;
              border-bottom: none;
              .is-mobile & {
                display: initial;
              }
            }

            &.cp__value-input {
              display: initial;
              .is-mobile & {
                display: none;
              }
            }

            box-sizing: border-box;
            border: none;
            border-bottom: 1px solid black;

            font-family: Helvetica, 'Segoe UI', Roboto, Arial;
            font-size: 16px;
            text-align: center;

            padding-bottom: 4px;
            width: 70px;
          }
        }
        .picture {
          // @include flex(3);
          text-align: center;
          width: 150px;
          height: 150px;

          .pokemon-image {
            background-size: calc(2400px*150/200);
          }
        }
        .types {
          @include flex(1);

          .type {
            margin: auto;
            margin-bottom: 5px;
          }
        }
      }
      .counters {
        background: white;
        border: 2px solid black;
        border-radius: 5px 5px 0px 0px;
        box-sizing: border-box;

        padding-top: 70px;
        height: 100%;

        z-index: -1;

        .type, .cp-value {
          margin: 5px auto;
        }

        .cp-value {
          text-align: center;
        }
      }
    }

    .counters {
      text-align: center;
      .other-pokemon {
        &:hover {
          cursor: pointer;
        }

        &.is-favourite::before {
          content: "";
          background: url(/images/icon-heart.png);
          background-size: cover;

          display: block;
          position: absolute;
          top: 0;
          right: 0;

          width: 22px;
          height: 22px;
        }

        display: inline-block;
        position: relative;

        font-weight: bold;
        font-size: 12px;

        margin: 8px;

        .picture {
          width: 70px;
          height: 70px;
        }
        background-position: bottom;
      }
    }
  }
}

footer {
  text-align:  center;
  font-size: 0.8em;
  margin-top: 8px;
  margin-bottom: 100px;
  padding: 8px 5px 0px;

  & > * {
    margin-bottom: 5px;
  }

  .delimiter {
    border-top: 1px solid black;
    margin: 0px auto 16px;
    width: 90%;
  }

  .social {

  }
}
