@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Heavy.ttf');
  font-weight: bold;
  font-style: normal;
}

html {
  margin: 0;
  body {
    margin: 0;
  }
}

.title-wrapper {
  text-align: center;
  padding-top: 15px;
  h1 {
    background: white;

    display: inline-block;

    font-family: 'Lato';
    font-weight: normal;
    font-size: 16px;

    position: relative;
    padding: 0px 20px;
    z-index: 1000;

    margin: 0;
  }
}

hr {
  position: relative;
  top: -10px;
  margin: 0px 10px;
}

.pokedex {
  text-align: center;
  .pokemon {
    display: inline-block;

    font-family: 'Lato';
    font-weight: bold;
    font-size: 12px;

    margin: 8px;

    .picture {
      display: flex;
      width: 70px;
      height: 70px;

      img {
        object-fit: contain;
        width: 70px;
      }
    }
  }
}












.overlay {
  background: black;
  opacity: .2;
  position: absolute;

  height: 100%;
  width: 100%;
  z-index: -1;
}

.pokemon-name {
  text-align: center;
  padding-top: 15px;
  h2 {
    display: inline-block;

    font-family: 'Lato';
    font-weight: normal;
    font-size: 20px;

    position: relative;
    padding: 0px 20px;
    z-index: 1000;

    margin: 0;
  }
}

.data {
  background: white;
  border-radius: 5px 5px 0px 0px;
  width: 96%;
  margin: auto;
  height: 100%;
}