@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Heavy.ttf');
  font-weight: bold;
  font-style: normal;
}

@mixin flex($value) {
  -webkit-flex: $value;
     -moz-flex: $value;
      -ms-flex: $value;
          flex: $value;
}

@mixin display-flex() {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

html {
  margin: 0;
  body {
    font-family: 'Lato';
    margin: 0;
  }
}




.loading-screen {
  background: white;

  @include display-flex();
  @include align-items(center);

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;

  .loading-message {
    flex: 1;
    text-align: center;

    .spinner {
      text-align: center;
      margin: auto;
      width: 50px;
    }

    .text {
      font-size: 20px;
    }
    .progress {
      font-size: 14px;
    }
  }
}

.title-wrapper {
  text-align: center;
  padding-top: 15px;
  h1 {
    background: white;

    display: inline-block;

    font-weight: normal;
    font-size: 16px;

    position: relative;
    padding: 0px 20px;
    z-index: 1000;

    margin: 0;
  }
}

.intro {
  padding: 10px;

  p {
    font-size: 14px;
    margin: 5px 0px;
  }

  &.is-collapsed {
    > * {
      display: none;
    }

    p:first-child {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      width: 100%;
    }
    &:after {
      content: '+';
      display: block;
      font-weight: bold;
      color: #197979;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: '-';
    display: block;
    font-weight: bold;
    color: #197979;
  }
}

.pokedex {
  text-align: center;
  .pokemon {
    display: inline-block;

    font-weight: bold;
    font-size: 12px;

    margin: 8px 12px;

    .picture {
      width: 70px;
      height: 70px;

      .image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }
  }
}



.picture {
  .pokemon-image {
    background-image: url('images/pokemon-spritesheet.png');
    background-size: calc(2400px*70/200); // Size of spritesheet / (200/70)
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
  }
}



.title {
  overflow: hidden;
  text-align: center;

  &:before, &:after {
    background: black;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &.title--normal {
    font-weight: normal;
  }

  &:before {
    right: 0.5em;
    margin-left: -50%;
  }

  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}

h2.title {
  padding-top: 15px;
  font-size: 16px;
  margin: 0;
}

h3.title {
  padding-top: 15px;
  font-size: 14px;
  margin: 0;
}

// Used to adapt font size to type tags
.font-size-calculation {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  padding: 2px;
}
.type {

  border-radius: 3px;
  box-sizing: border-box;

  @include display-flex();
  @include align-items(center);

  color: white;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;

  padding: 2px;
  min-height: 16px;
  max-width: 70px;

  .name {
    display: inline-block;
    width: 100%;
  }

  &.normal {
    background: #8a8a59;
  }

  &.fighting {
    background: #c03028;
  }

  &.flying {
    background: #a890f0;
  }

  &.poison {
    background: #a040a0;
  }

  &.ground {
    background: #e0c068;
  }

  &.rock {
    background: #b8a038;
  }

  &.bug {
    background: #a8b820;
  }

  &.ghost {
    background: #705898;
  }

  &.steel {
    background: #b8b8d0;
  }

  &.fire {
    background: #f08030;
  }

  &.water {
    background: #6890f0;
  }

  &.grass {
    background: #78c850;
  }

  &.electric {
    background: #f8d030;
  }

  &.psychic {
    background: #f85888;
  }

  &.ice {
    background: #98d8d8;
  }

  &.dragon {
    background: #7038f8;
  }

  &.dark {
    background: #705848;
  }

  &.fairy {
    background: #e898e8;
  }
}

.is-blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.is-hidden {
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;

  opacity: 0;
}

.overlay {
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;

  position: absolute;
  top: 0;

  width: 100%;
  z-index: 1000;

  .overlay__button {
    position: fixed;
    bottom: 20px;

    text-align: center;

    width: 100%;
    z-index: 1000;

    .button {
      background: rgba(24, 195, 187, 0.9);
      border: 3px solid #0e7974;
      border-radius: 50%;
      box-shadow: black 0px 0px 4px;

      display: inline-block;

      color: white;
      font-size: 27px;
      font-weight: 100;

      width: 34px;
      height: 34px;
    }
  }

  .overlay__background {
    background: black;
    opacity: .7;
    position: fixed;

    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .overlay__data {
    position: relative;
    z-index: 100;
    .pokemon-name {
      color: white;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 15px;
      margin: 0 0 5px 0;
    }

    .main-pokemon {
      margin: auto;
      width: 96%;
      position: relative;
      top: -50px;

      .stats {
        @include display-flex();
        @include align-items(flex-end);

        position: relative;
        top: 60px;

        padding: 0px 15px;

        > * {
          display: inline-block;
        }

        .cp, .types {
          position: relative;
          top: 10px;
        }

        .cp {
          @include flex(1);
          text-align: center;

          .value {
            box-sizing: border-box;
            font-family: Lato;
            font-size: 16px;
            text-align: center;
            width: 100%;
          }
        }
        .picture {
          // @include flex(3);
          text-align: center;
          width: 150px;
          height: 150px;

          .pokemon-image {
            background-size: calc(2400px*150/200);
          }
        }
        .types {
          @include flex(1);

          .type {
            margin: auto;
            margin-bottom: 5px;
          }
        }
      }
      .counters {
        background: white;
        border: 2px solid black;
        border-radius: 5px 5px 0px 0px;
        box-sizing: border-box;

        padding-top: 70px;
        height: 100%;

        z-index: -1;

        .type, .cp-value {
          margin: 5px auto;
        }

        .cp-value {
          text-align: center;
        }
      }
    }

    .counters {
      text-align: center;
      .other-pokemon {
        display: inline-block;

        font-weight: bold;
        font-size: 12px;

        margin: 8px 10px;

        .picture {
          width: 70px;
          height: 70px;
        }
        background-position: bottom;
      }
    }
  }
}