.app-title {
  &::after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 5px;
    background: url('/images/favicon.png');
    background-size: cover;
  }
}
