.intro {
  padding: 10px;

  p {
    margin: 5px 0;
    font-size: 14px;
  }

  &.is-collapsed {
    > * {
      display: none;
    }

    p:first-child {
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      overflow: hidden;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &::after {
      content: '+';
      display: block;
      color: $color-blue-green;
      font-weight: bold;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: '-';
    display: block;
    color: $color-blue-green;
    font-weight: bold;
  }
}

.subtext {
  p {
    margin: 0;
    font-size: 12px;
  }

  &.subtext--patreon {
    .inline-image {
      display: inline-block;content: '';
      width: 14px;
      height: 14px;
      background-image: url(https://camo.githubusercontent.com/234dde84d231ee1fe67e45f66e93065e3d827f70/687474703a2f2f737667706f726e2e636f6d2f6c6f676f732f70617472656f6e2e737667);
      background-size: cover;
    }
  }

}