.sorting-selector {
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 800;
  height: 22px;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  list-style-type: none;
  font-size: .8em;
  font-weight: bold;
  line-height: 22px;
  text-align: right;
}
